Repository Diaring/Diaring-Android, pull requests merged in 2022-05, with the labels that each got.

#9 [DEL] #8 DI Readme 삭제
  Diaring/app/src/main/java/com/oss/diaring/di/DI_README.md
Labels: Done, docs, 재성:zany_face:

#18 Feat/10 calendar UI
  Diaring/app/src/main/AndroidManifest.xml
  Diaring/app/src/main/java/com/oss/diaring/presentation/calendar/CalendarFragment.kt
  Diaring/app/src/main/java/com/oss/diaring/presentation/calendar/EmotionEmojiBottomSheetDialog.kt
  Diaring/app/src/main/java/com/oss/diaring/presentation/calendar/adapter/DateAdapter.kt
  Diaring/app/src/main/java/com/oss/diaring/presentation/calendar/adapter/MonthAdapter.kt
  Diaring/app/src/main/res/anim/fab_from_bottom.xml
  Diaring/app/src/main/res/anim/fab_rotate_close.xml
  Diaring/app/src/main/res/anim/fab_rotate_open.xml
  Diaring/app/src/main/res/anim/fab_to_bottom.xml
  Diaring/app/src/main/res/drawable-v24/bg_calendar_current_date_focus.xml
  Diaring/app/src/main/res/drawable/bg_calendar_current_date.xml
  Diaring/app/src/main/res/drawable/bg_emoji_bottom_sheet.xml
  Diaring/app/src/main/res/drawable/ic_add_24.xml
  Diaring/app/src/main/res/drawable/ic_close_24.xml
  Diaring/app/src/main/res/drawable/ic_create_24.xml
  Diaring/app/src/main/res/drawable/ic_info_24.xml
  Diaring/app/src/main/res/drawable/ic_question_24.xml
  Diaring/app/src/main/res/layout/bottom_sheet_emotion_emoji.xml
  Diaring/app/src/main/res/layout/fragment_calendar.xml
  Diaring/app/src/main/res/layout/item_calendar_date.xml
  Diaring/app/src/main/res/layout/item_calendar_month.xml
  Diaring/app/src/main/res/values-night/themes.xml
  Diaring/app/src/main/res/values/strings.xml
  Diaring/app/src/main/res/values/styles.xml
  Diaring/app/src/main/res/values/themes.xml
Labels: layout, Done, 재성:zany_face:

#21 [FEAT] #20 스플래시 레이아웃 구현
  .idea/.gitignore
  .idea/Diaring-Android.iml
  .idea/modules.xml
  .idea/vcs.xml
  .vs/Diaring-Android/v16/.suo
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  Diaring/app/build.gradle
  Diaring/app/src/main/AndroidManifest.xml
  Diaring/app/src/main/java/com/oss/diaring/presentation/splashScreen/SplashActivity.kt
  Diaring/app/src/main/res/drawable-hdpi/img_logo.png
  Diaring/app/src/main/res/drawable-mdpi/img_logo.png
  Diaring/app/src/main/res/drawable-xhdpi/img_logo.png
  Diaring/app/src/main/res/drawable-xxhdpi/img_logo.png
  Diaring/app/src/main/res/drawable/background_splash_screen.xml
  Diaring/app/src/main/res/layout/activity_splash_screen.xml
  Diaring/app/src/main/res/values-v31/themes.xml
  Diaring/app/src/main/res/values/themes.xml
Labels: layout, Done, 솔
